<!DOCTYPE html>
<html>
  <head>
    <title>Checklist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >


  </head>

  <body>

    <nav class="navbar navbar-default">
  		<div class="container-nav">
  			<div class="navbar-header">
  				<%= link_to "Checklist", root_path, class: "navbar-brand" %>
  			</div>
  			<ul class="nav navbar-nav">
  				<% if current_user.present? %>
            <li><%= link_to  new_item_path do %>
                <i class="fa fa-pencil fa-2x" aria-hidden="true">  </i>
            <%end%>
            </li>

  				<% else %>
            <li><%= link_to new_user_registration_path do %>
                <i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i>
            <%end%>
            </li>
  					<li><%= link_to  new_user_session_path do %>
                <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
            <%end%>
          </li>
  				<% end %>
  			</ul>
  			<% if user_signed_in? %>
  				<%= link_to  destroy_user_session_path, method: :delete, class: "navbar-text navbar-link navbar-right" do %>
            <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
          <%end%>
  			<% end %>
  		</div>
  	</nav>



  <div class="container">
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" style="margin-top: 5px;"><%= value %></div>
    <% end %>

      <%= yield %>

  </div>
  </body>
</html>
